<nav class="w-full flex flex-col lg:flex-row items-center justify-between py-6 px-6 bg-slate-800 mb-12">
    <div id="logo" class="flex flex-row items-center justify-between w-full lg:w-auto mb-4 lg:mb-0">
        <a href="/" class="text-2xl font-bold">Upss</a>
        <span onclick="navv()" class="lg:hidden block"><i class="fa-solid fa-bars fa-2x"></i></span>
    </div>
    <div id="nav" class="flex flex-col lg:flex-row items-center gap-5 w-full lg:w-auto">
        <a class="navlink" href="/">Home</a>
        <a class="navlink" href="/all">Posts</a>
        <%if(locals.user){%>
            <a class="navlink green-btn" href="/users/<%=user._id%>">Profile</a>
            <a class="navlink red-btn" href="/logout">Logout</a>
            <%if(user.admin){%>
                <a class="navlink blue-btn uppercase" href="/">Admin</a>
            <%}%>
        <%}else{%>
            <a class="navlink green-btn" href="/login">Login</a>
            <a class="navlink blue-btn" href="/register">Register</a>
        <%}%>
    </div>
</nav>
<div class="hidden"></div>
