<div class="w-full h-full flex-col items-center justify-center text-center gap-10 py-6 px-6 bg-gray-800 rounded-full">
    <h1 class="text-xl">My email: <a class="link" href="mailto:arasemr1234@gmail.com">arasemr1234@gmail.com</a></h1>
    <h1 class="text-xl">My Discord: <a class="link">arasemr12#9891</a></h1>
</div>