<div class="w-full flex flex-col items-center">
    <form action="/register" method="post">
        <div>
            <label for="email">email</label>
            <input type="email" name="email" id="email" placeholder="email" autocomplete="off" required>
        </div>
        <div>
            <label for="username">username</label>
            <input type="text" name="username" id="username" placeholder="username" autocomplete="off" required>
        </div>
        <div>
            <label for="password">password</label>
            <input type="password" name="password" id="password" placeholder="password" autocomplete="off" required>
        </div>
        <button class="green-btn" type="submit">Register!</button>
    </form>
</div>
